        <div style="cursor:pointer;" class="MagicToolboxSelectorsContainer">
            <a style="pointer-events:none;" data-slide-id="spin" href="#" class="active-magic-selector">
                <img alt="360 view" src="{{ 'magic360-icon.png' | asset_url }}" />
            </a>
        </div>
        