<section style="padding-bottom: 80px;">
    <div class="icon-container">
        <h1 class="nunito-title sm-text-center" style="border: 0;">Performance Indicators</h1>
        <p style="color: #4A4A4A; font-weight: 300; font-size: 22px; margin-bottom: 75px;" class="nunito sm-text-center">The icons are shorthand performance indicators for Tingley&reg; footwear and clothing. Icons represent standard specifications and test methods that designate safety compliant products.</p>

        {% section 'protective-footwear' %}
        {% section 'high-visibility-apparel' %}
        {% section 'flame-resistant-clothing' %}
        {% section 'breathability-tested-apparel' %}
        {% section 'viral-penetration-resistance' %}
        {% section 'chemical-resistance' %}

    </div>
</section>
