<div id="page" class="desktop-12 tablet-6 mobile-3" data-section-id="{{ section.id }}">
  <h1>{{ page.title }}</h1>
  <div class="decorator-promote flex justify-center items-center md:block">
    <div class="promote-image text-right md:text-center">
      <a href="https://www.tingleyrubber.com/pages/products-and-promotions-catalog"><img src="https://cdn.shopify.com/s/files/1/0085/7807/2634/files/catalog-2020.jpg?8573" alt="" ></a>
    </div>
    <div class="promote-content text-center">
      <h2><span>PROMOTE YOUR BRAND</span> WHILE BEING PROTECTED BY OURS.</h2>
      <p>Create an Account or View the Tingley Promotional Products Catalog</p>
      <div class="btn-row">
        <a href="#account-signup" class="btn btn--red">CREATE ACCOUNT <i class="fa fa-chevron-right"></i></a>
        <a href="https://www.tingleyrubber.com/pages/products-and-promotions-catalog" class="btn btn--black">VIEW CATALOG <i class="fa fa-chevron-right"></i></a>
      </div>
    </div>
  </div>
  
  
  <div class="decorator-custom-imprinting text-center">
    <p>Tingley offers custom imprinting on apparel.</p>
    <div class="flex">
      <figure class="imprint-block">
        <img src="https://cdn.shopify.com/s/files/1/0085/7807/2634/files/decorator-heat-transfer.jpg?5959" alt="">
        <figcaption>
          Heat Transfer
        </figcaption>
      </figure>
      <figure class="imprint-block">
        <img src="https://cdn.shopify.com/s/files/1/0085/7807/2634/files/decorator-silkscreen.jpg?5959" alt="">
        <figcaption>
          Silkscreen
        </figcaption>
      </figure>
      <figure class="imprint-block">
        <img src="https://cdn.shopify.com/s/files/1/0085/7807/2634/files/decorator-embroidery.jpg?5959" alt="">
        <figcaption>
          Embroidery
        </figcaption>
      </figure>
      <figure class="imprint-block">
        <img src="https://cdn.shopify.com/s/files/1/0085/7807/2634/files/decorator-reflective-heat-transfer.jpg?5959" alt="">
        <figcaption>
          Reflective Heat Transfer
        </figcaption>
      </figure>
    </div>
  </div>
  
  <div class="decorator-catalog flex md:block justify-center items-center">
    <div class="catalog-image text-right md:text-center">
	  	<img src="https://cdn.shopify.com/s/files/1/0085/7807/2634/files/cover-2020.jpg?8576" alt="" >
    </div>
    <div class="catalog-content text-center">
      <h2>
        <span>Co-brand Tingley’s 2020 Protective Apparel Catalog</span>
with your logo, contact information and more.
      </h2>
      <div class="btn-row">
        <a href="https://tingleyrubber.zoomcustom.com/" target="_blank" class="btn btn--red">ADD YOUR LOGO <i class="fa fa-chevron-right"></i></a>
      </div>
    </div>
  </div>
  
  
  <div class="decorator-sign-up text-center" style="position: relative;">
    <span class="anchor" id="account-signup"></span>
    <div class="form-container">
    <div id="wufoo-wwee88y0ibwlg7">
Fill out my <a href="https://tingleyrubber.wufoo.com/forms/wwee88y0ibwlg7">online form</a>.
</div>
<script type="text/javascript">var wwee88y0ibwlg7;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'tingleyrubber',
'formHash':'wwee88y0ibwlg7',
'autoResize':true,
'height':'1411',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'secure.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { wwee88y0ibwlg7 = new WufooForm();wwee88y0ibwlg7.initialize(options);wwee88y0ibwlg7.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
    </div>
  </div>
</div>