<div id="page" class="desktop-12 tablet-6 mobile-3 fancy-h2s big-font" data-section-id="{{ section.id }}">
  <h1>{{ page.title }}</h1>
  <img src="https://cdn2.shopify.com/s/files/1/0085/7807/2634/files/about-us-hero.jpg?5361" alt="HARD WORK Never goes out of style" >
  
  <div class="centered-content top-about">
    <h2>DESIGNED TO PROTECT</h2>

    <p>Because you’re tough and hardworking… we need to be, too.</p>
    <p>We understand that your work is as demanding as it is important and you deserve to be safe, comfortable and protected in any environment.</p>

  	<p>Mud, rain, chemicals, traffic, wind, darkness – the elements and hazards are no match for the durability, reliability and protection that Tingley boots and apparel provide.</p>
  </div>
  <div class="iframe-constraints">
  <div class="iframe-holder">
    <iframe src="https://www.youtube.com/embed/zIaTQ7un6rA" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0"></iframe>
  </div>
  </div>
  <div class="bottom-about centered-content">
    <div class="img">
  <img src="{{ '125_Years_Graphic.jpg' | asset_img_url:"800x" }}" alt="Behind every Tingley product is more than 124 years of quality and excellencE.">
    </div>
  <p>Tingley has been protecting generations since its founding by Charles O. Tingley in 1896. From its humble beginnings as a bicycle tire plug company, this U.S. based, 5th generation family business has innovated and grown to offer a full line of protective, liquidproof footwear and clothing.</p>
    <p>From the first rubber overshoe and the first Hazmat boots to exterior-coated polyurethane protective clothing with sealed seams, Tingley has been and will continue to be a leader in innovation and protection.</p>
  </div>
  <div class="centered-content">
  
  </div>
  <hr class="space60">
  <div class="centered-content">
  <h2>The comfort and safety you deserve</h2>
  </div>
  <div class="row flex-row text-center">
      
        

    <div class="desktop-2 tablet-2 mobile-1 min-3">
        <a href="/collections/over-the-shoe" class="bucket-link-collections">
          <div>
            <img src="//cdn.shopify.com/s/files/1/0085/7807/2634/files/boot1.png?v=1569523008">
          </div>
          <div class="bottom">
            Overshoes
          </div>
      	</a>
      </div>
        
        

    <div class="desktop-2 tablet-2 mobile-1 min-3">
        <a href="/collections/over-the-sock" class="bucket-link-collections">
          <div>
            <img src="//cdn.shopify.com/s/files/1/0085/7807/2634/files/boots-home.png?v=1584387622">
          </div>
          <div class="bottom">
            Boots
          </div>
      	</a>
      </div>
        
        
<div class="desktop-2 tablet-2 mobile-1 min-3">
        <a href="/collections/rainwear" class="bucket-link-collections">
          <div>
            <img src="//cdn.shopify.com/s/files/1/0085/7807/2634/files/waterproof-home_9f6e261a-48af-42e4-8490-93a664de9813.png?v=1584387622">
          </div>
          <div class="bottom">
            Waterproof
          </div>
      	</a>
      </div>
    
    <div class="desktop-2 tablet-2 mobile-1 min-3">
        <a href="/collections/high-visibility" class="bucket-link-collections">
          <div>
            <img src="//cdn.shopify.com/s/files/1/0085/7807/2634/files/hi-vis-home_f0aa45cd-9d6e-4245-88b5-8484c8f28760.png?v=1584387718">
          </div>
          <div class="bottom">
            High Visibility
          </div>
      	</a>
      </div>
        
        

    <div class="desktop-2 tablet-2 mobile-1 min-3">
        <a href="/collections/flame-resistant" class="bucket-link-collections">
          <div>
            <img src="//cdn.shopify.com/s/files/1/0085/7807/2634/files/flame-resistant-home_ab27e001-0c30-479c-ba1c-7e0930313e04.png?v=1584389981">
          </div>
          <div class="bottom">
            Flame Resistant
          </div>
      	</a>
      </div>
        
        

    
        
        
      
  </div>
</div>