<div id="page" class="desktop-12 tablet-6 mobile-3" data-section-id="{{ section.id }}">
  <h1>{{ page.title }}</h1>
  <div class="col-row">
    <div class="flex text-center">
      <div class="col col-9">
      <div class="box box--dark-grey distributors fancy-h2s">
        <h2>DISTRIBUTOR PORTAL</h2>
        <p>Access your distributor pricing, Tingley marketing materials and more.</p>
        <div class="btn-row">
          <a href="https://www.tingleyrubber.net/" target="_blank" class="btn btn--red">LOGIN <i class="fa fa-chevron-right"></i></a>
        </div>
        <p class="fine-print">Interested in becoming a Tingley distributor? <a href="https://www.tingleyrubber.com/pages/contact-us">CONTACT US</a></p>
      </div>
      </div>
      <div class="col col-3">
      <div class="box box--image-bg box--light-text fancy-h2s decorators">
        <div class="box__bg">
          <img src="https://cdn.shopify.com/s/files/1/0085/7807/2634/files/distributors-decorators.jpg?6175" alt="" role="presentation">
        </div>
        <div class="box__content">
          <h2>Decorators</h2>
          <p>Customize Tingley products.</p>
          <div class="btn-row">
          <a href="https://www.tingleyrubber.com/pages/decorators" class="btn btn--white">LEARN MORE <i class="fa fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>